/* FUENTES */

    @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

/* RESET */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}   

/*HEADER*/

header {
    background-color: black;
    width: 100%;
    height: 160px;
}

header nav ul li {
    display: inline-block;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

header nav ul li a img {
    height: 100px;
    width: 100px;
    padding: 30px;
    border-radius: 100%;
}

header nav ul {
    text-align: center;
}


/*HOME*/

.puertoblest {
    background-image: url(../img/CAFE.jpg);
    background-size: cover;
    height: 100vh;
}

.puertoblest div h1 {
    color: white;
    text-align: center;
    font-family:  'Oswald', sans-serif;
    font-size: 60px;
    font-weight: 300;
    padding-top: 10px;
}

.puertoblest div h2 {
    color: wheat;
    text-align: center;
    font-family:  'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 200;
}

.inicio {
    height: 100vh;
}

.inicio p {
    text-align: center;
    font-family:  'Oswald', sans-serif;
    padding: 100px;
    font-size: 30px;
}

/* ORIGENES */

.uvas {
    width: 100%;
    background-image: url(../img/cs2.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    
}
.uvas h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 300px;
    font-size: 50px;
    color: white;
}

.origenes-nuestros{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.origenes-nuestros h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 70px;
}

.origenes {
    display: flex;
    width: 500px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    height: 60vh;
    flex-direction: column;
}

.origenes img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    
    
}

.descripcion {
    text-align: left;
    font-family:  'Oswald', sans-serif;
}

/* PRODUCTOS */
.uvas {
    width: 100%;
    background-image: url(../img/cs2.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: 'Oswald', sans-serif;
}
.uvas h1 {
    font-family: os;
    text-align: center;
    padding: 300px;
    font-size: 50px;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.origenes-nuestros{
    display:flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
    text-align: left;
}

.origenes-nuestros h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 70px;
}

.origenes {
    display: flex;
    width: 500px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    height: 60vh;
    flex-direction: column;
}

.origenes img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    
    
}

.descripcion {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

/* SOBRE NOSOTROS */

.sobrenosotros2 {background-image: url(../img/Sin\ título-1-1.jpg);
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 300px;
    font-size: 30px;
    color: white;
}

.sobrenosotros p {
    padding: 50px;
    margin: 50px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

/* CONTACTO */

.contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    margin-top: 50px;
    background-image: url(../img/CONTACTO1.jpg);
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-bottom: 50px;
}

.contacto h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 500;
    
}

.contacto h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin-top: 5px;
    text-align: center;
}

.contacto .inputs {
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
}

.name {
    margin-right: 13px;
    width: 280px;
}

.email {
    width: 280px;
}

.subject {
    margin-top: 10px;
}

.message {
    margin-top: 10px;
}

.btn {
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 35px;
    margin-top: 17px;
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 242, 242);
    border-radius: 3px;
}

/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: 80px;
}

footer h3{
    text-align: center;
    color: white;
    padding-top: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
}


/* MEDIA QUERIES */

/* HEADER */

@media screen and (max-width:480px){
    header nav ul li a {
        font-size: 14px;
    }
}

/*HOME*/

@media screen and (max-width:1024px) {
    .puertoblest div h1 {
        font-size: 40px;
    }

    .puertoblest div h2 {
        font-size: 20px;
    }

    .inicio p{
        font-size: 26px;
    }
}

@media screen and (max-width:768px){
    .inicio p{
        font-size: 23px;
    }
}

@media screen and (max-width:590px) {
    .puertoblest div h1 {
        font-size: 30px;
    }

    .puertoblest div h2 {
        font-size: 18px;
    }
}

@media screen and (max-width:425px) {
    .puertoblest div h1 {
        font-size: 18px;
        padding-top: 10px;
    }

    .puertoblest div h2 {
        font-size: 16px;
    }

    .inicio p{
        font-size: 18px;
    }
}


/*ORIGENES*/

@media screen and (max-width: 768px) {
    .origenes-nuestros {
        flex-direction: column;
    }

    .origenes {
        width: 100%; 
        margin: 15px auto; 
    }

    .origenes img {
        margin-right: 0; 
    }

    .descripcion {
        text-align: center; 
    }
    @media screen and (max-width: 768px) {
        .uvas h1 {
            padding: 100px; 
            font-size: 40px;
            
        }
    }
}

/*SOBRE NOSOTROS*/
@media screen and (max-width: 768px) {

    .sobrenosotros p {
        font-size: 16px;
        flex-direction: initial;
        padding: 20px;
        line-height: 30px;
    }

}

/*CONTACTO*/

@media screen and (max-width:630px) {
    .contacto{
        margin-top: 190px;
        margin-bottom: -100px;
    }

    .name {
        width: 200px;
    }
    
    .email {
        width: 200px;
    }

}

@media screen and (max-width:430px) {
    .name {
        width: 170px;
    }
    
    .email {
        width: 170px;
        
    }

    .contacto h1 {
        font-size: 18px;
    }
}

@media screen and (max-width:380px) {
    .inputs {
        padding: 30px;
    }

    .name {
        width: 140px;
    }
    
    .email {
        width: 140px;
    }

    .btn {
        margin-top: -10px;
    }

    .contacto {
        margin-bottom: -200px;
    }
}

@media screen and (max-width:360px) {
    .name {
        width: 110px;
    }
    
    .email {
        width: 110px;
    }
}

/* FOOTER */

@media screen and (max-width: 430px) {
    footer h3 {
        font-size: 15px;
    }
}
