@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

/*RESET*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}  

/*BOOTSTRAP CONTACTO*/

.contacto{
.inputs{
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
.input-group{
.name{
    margin-right: 13px;
    width: 280px;
}
.email{
    width: 280px;
}
}
.subject{
    margin-top: 10px;
}
.message{
    margin-top: 10px;
}
}
.button{
.btn{
    border: 1px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 35px;
    margin-top: 17px;
    font-family: 'Oswald', sans-serif;
    color: rgb(255, 242, 242);
    border-radius: 3px;
}
}
}